<!DOCTYPE html>
<html lang="en">
<head>
   <meta char="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Unfollowers</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
   {% for unfollower in list_unfollowers %}
    <div class="card">
    <a href="https://instagram.com/{{unfollower}}" target="_blank">{{unfollower}}</a>
    </div>    
   {% endfor %}
   
   <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
   <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</body>
</html>